body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-image: url("https://mblogthumb-phinf.pstatic.net/MjAxODA5MjZfMTg5/MDAxNTM3OTY0MjIwMzU2.qDmuFfi90LFuzYf4ZHSU2Ng8IKCgeQCyxCIn5QXWLNcg.4QpmDKReqv_xJ5QlmZdrwKgix0ehUdULv1qZQlzYyJcg.JPEG.hsw2330/Mojave_Night.jpg?type=w800");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
