.todo-home {
  display: flex;
  width: 100%;
  .user-profile {
    display: flex;
    height: 10%;
    align-items: center;

    .user-photo {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: white;
      margin: 10px;
    }
    .user-name {
      color: white;
    }
  }
  .app-container {
    background-color: rgba(0, 0, 0, 0.788);
    width: 90%;
    height: 80px;
    margin-top: 40%;

    display: flex;
    justify-content: space-between;
    align-items: end;
    border-radius: 10px;
    .app-icon {
      width: 170px;
      height: 70px;
      img {
        size: 100%;
      }
    }
  }

  .todo-board {
    width: 10%;
    height: 30%;
    background-color: aquamarine;
    display: flex;
    position: absolute;
    right: 5%;
    bottom: 150px;
  }
}
